<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <service
            android:name=".RunningService"
            android:exported="false"
            android:foregroundServiceType="location">

            <intent-filter>
                <action android:name="com.dpm.sixpack.runningservice.action.START_OR_RESUME_SERVICE" />
                <action android:name="com.dpm.sixpack.runningservice.action.PAUSE_SERVICE" />
                <action android:name="com.dpm.sixpack.runningservice.action.STOP_SERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </service>
    </application>
</manifest>
